:root {
  --main-blue: #1bb6c1;
  --light-blue: #fafcfd;
  --background: #f3f3f3;
  --grey: #e2e7ec;
  --dark-grey: #a7b6c6;
  --font: 'Montserrat', sans-serif;
  --default-border: 1px solid var(--main-blue);
  --default-font-size: 1rem;
  --box-shadow: 0px 0px 15px 8px var(--grey);
  --scrollbar-color: var(--main-blue);
}
