@import './mixins';

.BasicInfo {
  @include inputStyle;
  @include labelStyle;
  @include analysisContainer;

  &-subtitle {
    @include subHead;
  }

  input:active,
  input:focus {
    outline: 1px solid var(--main-blue);
  }
}
