.CreateCustomer {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--light-blue);
  overflow: hidden;
  font-family: var(--font);
  line-height: 1.1;

  &-headline {
    font-size: 1.8rem;
    margin-bottom: 0;
    color: var(--dark-grey);
    animation: sliderx 0.5s;
  }

  &-line {
    border: 1px solid var(--dark-grey);
    animation: sliderx 0.5s;
  }

  &-head {
    padding: 0.1rem 1rem;
    background-color: var(--grey);
    font-family: var(--font);
    font-size: 0.65rem;
    text-align: center;
    animation: sliderx 0.5s;

    h1 {
      margin: 0.2rem 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .CreateCustomer {
    width: 100%;
    padding: 0.5rem;

    &-headline {
      font-size: 1.3rem;
    }

    &-head {
      padding: 0.2rem;
      font-size: 0.5rem;
      padding: 0.5rem;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 800px) {
  .CreateCustomer {
    width: 100%;
    padding: 0.5rem;

    &-headline {
      font-size: 1.3rem;
    }

    &-head {
      padding: 0.2rem;
      font-size: 0.5rem;
      padding: 0.5rem;
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .CreateCustomer {
    width: 100%;
    padding: 0.5rem;

    &-headline {
      font-size: 1.3rem;
    }

    &-head {
      padding: 0.2rem;
      font-size: 0.5rem;
      padding: 0.5rem;
    }
  }
}

@keyframes sliderx {
  from {
    transform: translateX(2000px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
