.CreateCustomer {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--light-blue);
  overflow: hidden;
  font-family: var(--font);
  line-height: 1.1;
  animation: slider 0.8s;

  &-headline {
    font-size: 1.8rem;
    margin-bottom: 0;
    color: var(--dark-grey);
  }

  &-line {
    border: 1px solid var(--dark-grey);
  }

  &-head {
    padding: 0.1rem 1rem;
    background-color: var(--grey);
    font-family: var(--font);
    font-size: 0.65rem;
    text-align: center;

    h1 {
      margin: 0.2rem 0;
    }
  }
}

@keyframes slider {
  from {
    transform: translateX(2000px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
