.Customers {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem 1rem;
  background-color: var(--light-blue);
  overflow: hidden;
}

.ProfileMini-box {
  height: 70%;
  overflow: auto;
}

.simplebar-scrollbar:before {
  background-color: var(--scrollbar-color);
}
