.Customers {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--light-blue);
  overflow: hidden;
}

.Customers:nth-child(3) {
  display: none;
}

.Render-box {
  height: 70%;
  overflow: auto;
}

.simplebar-scrollbar:before {
  background-color: var(--scrollbar-color);
}

@media screen and (max-width: 640px) {
  .Customers {
    padding: 0.5rem 0.2rem;
  }
}

@media screen and (max-width: 800px) {
  .Customers {
    padding: 0.5rem 0.2rem;
  }
}
