@import './mixins';

.DeepAnalysis {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 55% 15%;
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  font-family: var(--font);

  &-basic,
  &-id,
  &-rest,
  &-remark {
    padding: 1rem 5%;
    border: var(--default-border);
    font-family: var(--font);

    label {
      font-size: 1.2rem;
      color: var(--main-blue);
      cursor: pointer;
    }

    input {
      display: block;
      margin: 0.5rem 0 1rem 0;
      width: 100%;
      font-family: var(--font);
      font-size: 2.2rem;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  &-remark {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;

    textarea {
      width: 80%;
      font-family: var(--font);
      font-size: 1.5rem;
      resize: none;

      &:active,
      &:focus {
        outline: none;
      }
    }

    &-btn {
      @include button(2px);
      width: 18%;
      font-size: 1.7rem;

      &:hover {
        @include buttonHover();
      }

      &:active,
      &:focus {
        outline: none;
      }
    }
  }

  &-subtitle {
    margin: 0.5rem 0 2rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  &-idType {
    margin-bottom: 2rem;
    text-align: center;

    label {
      display: inline-block;
      margin: 0 1.5rem 0 1.5rem;
      font-size: 1.1rem;
      text-align: center;
    }
  }

  .checkbox-container {
    display: flex;
    justify-content: space-between;

    .options {
      display: flex;
    }

    p {
      font-size: 1.2rem;
      color: var(--main-blue);
    }

    label {
      margin: 1rem 0rem 1.5rem 2rem;
      font-size: 1.1rem;
    }
  }

  input[type='radio'] {
    box-sizing: border-box;
    margin: 1rem auto 0.5rem auto;
    width: 15px;
    height: 15px;
    outline: 2px solid #333;
    border: 3px solid white;
    background: white;
    appearance: none;
    cursor: pointer;
  }

  input[type='radio']:checked {
    background: var(--main-blue);
  }
}
