@import './mixins';

.IdInfo {
  @include inputStyle;
  @include labelStyle;
  @include analysisContainer;
  @include radioStyle;

  &-subtitle {
    @include subHead;
  }

  &-idType {
    text-align: center;
    margin-bottom: 1rem;

    label {
      display: inline-block;
      margin: 0 1.5rem 0rem 1.5rem;
      font-size: 0.8rem;
    }
  }

  input[type='radio'] {
    outline: 1px solid var(--main-blue);
  }

  input:active,
  input:focus {
    outline: 1px solid var(--main-blue);
  }
}
