.Law {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--light-blue);
  padding: 1.5rem 3rem;
  font-family: var(--font);
  line-height: 1.1;

  &-headline {
    color: var(--dark-grey);
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  &-line {
    border: 1px solid var(--dark-grey);
  }

  &-head {
    padding: 0.3rem 1rem;
    font-size: 0.5rem;
    background-color: var(--grey);
    text-align: center;

    h1 {
      margin: 0.5rem 0;
    }
  }
}
