.Legend {
  &-list {
    display: flex;
    margin-right: 1rem;
    padding: 0rem 1rem;
    background-color: var(--grey);
    list-style: none;
    font-family: var(--font);
    font-size: 0.65rem;

    li {
      flex: 1;
      align-self: center;
      text-align: center;
    }
  }
}

.unvisible {
  visibility: hidden;
  width: 120px;
  margin: 0rem 1rem;
  padding: 0.7rem 0rem;
  font-size: 0.8rem;
}
