.Menu {
  width: 370px;
  box-sizing: border-box;
  background-color: white;
  padding: 3.5rem 2rem;
  border-right: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-logo {
    align-self: center;
    width: 210px;
    cursor: pointer;
  }

  &-nav {
    padding: 0;
  }

  &-navLink {
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    margin: 1.5rem 0rem;
    color: var(--dark-grey);
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }

  &-user {
    color: var(--dark-grey);
    font-size: 1.3rem;
  }

  &-logout {
    align-self: center;

    .svg {
      transform: scale(1.4);
      margin-right: 10px;
      color: var(--main-blue);
    }

    &-btn {
      width: 250px;
      color: var(--main-blue);
      font-size: 1.2rem;
      padding: 0.7rem 0rem;
      font-family: 'Montserrat', sans-serif;
      background-color: white;
      border: 2px solid var(--main-blue);
      transition: all 0.4s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: var(--main-blue);
        color: white;
      }
    }
  }
}
