@import './mixins';
@import './mixins';

.Menu {
  @include flexContainer(column, space-between, strecth);
  box-sizing: border-box;
  width: 260px;
  background-color: white;
  padding: 2.5rem 1.5rem;
  border-right: 1px solid var(--grey);

  &-logo {
    width: 150px;
    align-self: center;
    cursor: pointer;
  }

  &-nav {
    padding: 0;
  }

  &-navLink {
    display: block;
    margin: 1.5rem 0rem;
    font-family: var(--font);
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--dark-grey);
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }

  &-user {
    color: var(--dark-grey);
    font-size: 0.8rem;
  }

  &-logout {
    align-self: center;

    .svg {
      margin-right: 2px;
      color: var(--main-blue);
    }

    &-btn {
      @include button(2px);
      width: 160px;
      padding: 0.2rem 0rem;
      font-size: 1rem;

      &:hover {
        @include buttonHover();
      }
    }
  }
}
