@import './mixins';
@import './mixins';

.Menu {
  @include flexContainer(column, space-between, strecth);
  box-sizing: border-box;
  width: 370px;
  background-color: white;
  padding: 3.5rem 2rem;
  border-right: 1px solid var(--grey);

  &-logo {
    width: 210px;
    align-self: center;
    cursor: pointer;
  }

  &-nav {
    padding: 0;
  }

  &-navLink {
    display: block;
    margin: 1.5rem 0rem;
    font-family: var(--font);
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--dark-grey);
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }

  &-user {
    color: var(--dark-grey);
    font-size: 1.3rem;
  }

  &-logout {
    align-self: center;

    .svg {
      margin-right: 10px;
      transform: scale(1.4);
      color: var(--main-blue);
    }

    &-btn {
      @include button(2px);
      width: 250px;
      padding: 0.7rem 0rem;
      font-size: 1.2rem;

      &:hover {
        @include buttonHover();
      }
    }
  }
}
