@import './mixins';

.ProfileMini {
  &-list {
    display: flex;
    margin-right: 1rem;
    margin-top: 0;
    padding: 0.3rem 0.5rem;
    border: 1px solid var(--grey);
    font-family: var(--font);
    font-size: 0.8rem;
    list-style: none;

    .bold {
      font-weight: 600;
    }

    li {
      flex: 1;
      align-self: center;
      text-align: center;
    }
  }

  &-btn {
    @include button(2px);
    width: 120px;
    margin: 0rem 1rem;
    padding: 0.7rem 0rem;
    font-size: 0.8rem;

    &:hover {
      @include buttonHover();
    }
  }
}
