@import './mixins';

.RestInfo {
  @include inputStyle;
  @include labelStyle;
  @include analysisContainer;
  @include radioStyle;

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;
  }

  &-transaction {
    grid-column: 1 / span 2;
  }

  &-subtitle {
    @include subHead;
  }

  label {
    font-size: 0.8rem;
  }

  .options {
    display: flex;
    justify-content: space-evenly;
  }

  &-subtitle {
    @include subHead;
  }
}
