@import './mixins';

.RestInfo {
  @include inputStyle;
  @include labelStyle;
  @include analysisContainer;
  @include radioStyle;

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 1rem;

    p {
      font-size: 0.7rem;
    }

    label {
      font-size: 0.8rem;
    }
  }

  .options {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }

  &-subtitle {
    @include subHead;
  }
}
