.SearchAndSort {
  font-family: var(--font);
  line-height: 1;
  padding-right: 1rem;

  &-headline {
    font-size: 1.8rem;
    margin-bottom: 0;
    color: var(--dark-grey);
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
  }

  &-stats {
    display: flex;
    padding-left: 0;
    margin-top: 1rem;
    list-style: none;

    li {
      padding-right: 1rem;

      span {
        color: var(--main-blue);
        font-size: 0.9rem;
        font-weight: 600;
      }
    }
  }

  &-sort {
    display: flex;
    margin: 0.5rem 0;
    list-style: none;

    li {
      padding: 0rem 1rem;

      span {
        color: var(--main-blue);
      }
    }
  }

  &-line {
    border: 1px solid var(--dark-grey);
    margin: 0;
  }
}

.svg {
  align-self: start;
}
