@import './mixins';

.TextArea {
  @include analysisContainer;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;

  textarea {
    width: 80%;
    font-size: 0.8rem;
    font-family: var(--font);
    resize: none;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &:active,
  &:focus {
    outline: none;
  }

  &-btn {
    @include button(2px);
    width: 18%;
    font-size: 1.2rem;

    &:hover {
      @include buttonHover();
    }

    &:active,
    &:focus {
      outline: none;
    }
  }
}
