@import './mixins';

.TransactionEntry {
  @include analysisContainer;
  @include radioStyle;
  flex: 1;
  margin: 0.5rem 0 0 0.5rem;
  animation: fade 1.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &-headline {
    grid-column: 1 / span 2;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    color: var(--main-blue);
  }

  &-form {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    label,
    p {
      font-size: 0.9rem;
      color: var(--main-blue);
      text-align: center;
    }

    p {
      color: black;
    }

    label {
      cursor: pointer;
    }

    input {
      display: block;
    }

    input[type='text'],
    input[type='date'] {
      box-sizing: border-box;
      width: 220px;
      height: 40px;
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }
  }

  &-btn {
    @include button(2px);
    width: 130px;
    height: 30px;
    font-size: 1rem;

    &:hover {
      @include buttonHover;
    }
  }

  &-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;

    label {
      margin: 0 0.5rem;
    }
  }
}

.entry {
  width: 220px;
  height: 40px;
  font-size: 1.1rem;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.flex {
  display: flex;
}
