.TransactionInfoSmall {
  animation: fade 1s;
  font-family: var(--font);
  display: flex;
  justify-content: space-between;
  flex: 2;
  height: 100%;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .TransactionInfoSmall {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .TransactionInfoSmall {
    display: flex;
    flex-direction: column;
  }
}
