.TransactionInfo {
  animation: fade 1s;
  font-family: var(--font);
  display: flex;
  justify-content: space-between;
  height: 78%;
  padding: 0.5rem 0;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
