@import './mixins';

.TransactionInfo {
  @include radioStyle;
  animation: fade 1.5s;
  border: var(--default-border);
  font-family: var(--font);
  padding: 0.2rem 0rem;
  height: 78%;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
